<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=activity.author.username) }}">
                <img src="{{ activity.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            {% set user_link %}
                <a href="{{ url_for('main.user', username=activity.author.username) }}">
                    {{ activity.author.username }}
                </a>
            {% endset %}
            You have been participated in: {{ activity.your_training }} {{ moment(activity.timestamp).fromNow() }}
            <br>
            
        </td>
    </tr>
</table>