<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=activity.author.username) }}">
                <img src="{{ activity.author.avatar(70) }}" />
            </a>
        </td>
        <td>
            <a href="{{ url_for('user', username=activity.author.username) }}">
                {{ activity.author.username }}
            </a>
            participated in:
            <br>
            {{ activity.activ_body }}
        </td>
    </tr>
</table>