{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.activity.label }}<br>
            {{ form.activity(cols=32, rows=4) }}<br>
            {% for error in form.activity.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for activity in activities %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer activities</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older activities</a>
    {% endif %}
{% endblock %}